.circle-right {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(500px at 100% 100%,#e93380,#b2409b,#774392,#46546d,#43546a);
}
